@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgb(57, 42, 149);
  }
  @font-face {
    font-family: "PTSansCaption";
    src: url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");
  }
  @font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src:
      url(/fonts/Pretendard-Black.subset.woff2) format("woff2"),
      url(/fonts/Pretendard-Black.subset.woff) format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src:
      url(/fonts/Pretendard-ExtraBold.subset.woff2) format("woff2"),
      url(/fonts/Pretendard-ExtraBold.subset.woff) format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src:
      url(/fonts/Pretendard-Bold.subset.woff2) format("woff2"),
      url(/fonts/Pretendard-Bold.subset.woff) format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src:
      url(/fonts/Pretendard-SemiBold.woff2) format("woff2"),
      url(/fonts/Pretendard-SemiBold.woff) format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src:
      url("/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
      url("/fonts/Pretendard-Medium.subset.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src:
      url("/fonts/Pretendard-Regular.woff2") format("woff2"),
      url("/fonts/Pretendard-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src:
      url("/fonts/Pretendard-Light.subset.woff2") format("woff2"),
      url("/fonts/Pretendard-Light.subset.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src:
      url("/fonts/Pretendard-ExtraLight.subset.woff2") format("woff2"),
      url("/fonts/Pretendard-ExtraLight.subset.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src:
      url("/fonts/Pretendard-Thin.subset.woff2") format("woff2"),
      url("/fonts/Pretendard-Thin.subset.woff") format("woff");
  }

  html {
    font-family: "Pretendard";
  }

  #root {
    overflow-x: hidden;
  }
}
