{
  "plugins": ["prettier-plugin-tailwindcss"],

  "importOrder": ["^react$", "^next", "^[a-z]", "^@/"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindFunctions": ["clsx", "classnames"]
}
